@font-face {
  font-family: "mine-sweeper";
  src: url(mine-sweeper.ttf);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "mine-sweeper";
  background-color: rgb(43, 40, 40);
}

.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  background-color: #C6C6C6;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);


  width: 235px;
  height: 235px;
  // This bg color must stay or 'border' artifacts are produced
  background-color: #C6C6C6;
  border: 5px solid #FDFCFD;
  border-left-color: #757575;
  border-top-color: #757575;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #C6C6C6;
  outline: black;
  outline-width: 4px;
  border: 3px solid #757575;
  border-left-color: #FDFCFD;
  border-top-color: #FDFCFD;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  user-select: none;
  --webkit-user-select: none;
}

.flag {
  background-image: url("flag.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center center;
}

.safe {
  outline: 1px solid rgb(161, 156, 148);
  border: none; 
}

.square-1 {
  color: #0100FA;
}

.square-2 {
  color: #047A03;
}

.square-3 {
  color: #FC0100;
}

.square-4 {
  color: #01007F;
}

.square-5 {
  color: #7D0001;
}

.square-6 {
  color: #00807E;
}

.square-7 {
  color: black;
}

.square-8 {
  color: #7F7F7F;
}

.mine {
  background-image: url("mine-clear.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: unset;
  border: unset;
  outline: 1px solid rgb(161, 156, 148);
  cursor: default;
}

.killer-mine {
  background-image: url("mine-red.png");
  border: unset;
}

.game-over {
  cursor: default;
  * {
    cursor: default;
  }
}
